@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Space+Mono:wght@400;700&display=swap');

body{
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
}

.w-30{
  width: 30%;
}

.w-80{
  width: 80%;
}

.w-100{
  width: 100%;
}

.text-center{
  text-align: center;
}

.flex{
  display: flex;
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.mx-auto{
  margin: 0 auto;
}

.my-auto{
  margin: auto 0;
}

.title{
  margin-top: 40%;
  color: #7E7C89;
}

.box{
  background-color: #24232B;
  color: white;
  padding: 1rem;
  margin: 2rem auto;
  min-height: 2rem;
}

.password{
  color: #53525A;
}

.logo{
  width: 15px;
  height: 15px;
}

.counter{
  color: #A4FFAF;
}

.slider{
  -webkit-appearance: none;   
  background: #19171F;
  height: 4px;
  border-radius: 8px;
  --track-color: rgba(235, 16, 16, 0.9);
  color: #ef233c;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px;
  height: 15px; 
  background: #ffffff; 
  cursor: pointer; 
  border-radius: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border:  solid white;
}

input[type="checkbox"]:checked {
  background-color: #A4FFAF;
}

.strength{
  font-family: 'Roboto', sans-serif;
  color: #53525A;
}

.box-st{
  background-color: rgba(red, green, blue, 0);
  width: 0.3rem;
  height: 1rem;
  margin: auto 2px;
  border: #ffffff solid;
}

.selected{
  background-color: #A4FFAF;
}

.generate{
  color: #19171F;
  background-color: #A4FFAF;
  font-weight: 500;
}

.my-2{
  margin: 4px auto;
}

.my-10{
  margin: 20px auto;
}

.my-1{
  margin: 2px auto;
}

.ml-2{
  margin: auto auto auto 1rem;
}

.bg-dark{
  background-color: #19171F;
}

.relative{
  position: relative;
  left: 10px;
}